* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

.text {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    color: #4c4c4c;
    line-height: 145%;
}

@media (min-width: 1024px) {
    .text {
        font-size: 0.8rem;
    }
}

.deco {
    width: 200px;
    margin: 15px 0 25px;
}

.deco--nav {
    margin: 10px 0 0;
}

/* ------------------------------- */
/* MENU */
/* ------------------------------- */

.nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    transition: .5s;
}

.nav.scrolled {
    background-color: rgba(0, 0, 0, .8);
}

.nav__logo {
    padding: 10px 15px;
    width: 120px;
    transition: .5s;
}

.nav__logo.scrolled {
    padding: 5px 15px;
    width: 100px;
}

.logo__img {
    width: 100%;
}

.nav__burger {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 29px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 10px 20px;
    padding: 5px 10px;
    transition: .5s;
}

.nav__burger.scrolled {
    width: 35px;
    height: 35px;
    font-size: 25px;
}

.nav__icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__icon.active {
    display: block;
}

.nav__list {
    display: none;
    width: 100%;
    text-align: center;
    list-style: none;
}

.nav__item {
    width: 100%;
}

.nav__item--social {
    display: inline-block;
    width: 32%;
}

.nav__link {
    display: block;
    font-size: 1.1rem;
    font-family: 'Yeseva One', sans-serif;
    color: white;
    text-decoration: none;
    padding: 12px 0;
}

.nav__link--social {
    color: #dab33e;
    padding: 20px 0;
}

@media (min-width: 530px) {

    .nav__logo {
        margin-left: 5%;
    }

    .nav__item {
        display: inline-block;
        width: 49%;
    }

    .nav__item--deco {
        width: 100%;
    }

    .nav__item--social {
        width: 23%;
    }

    .nav__link {
        font-size: .9rem;
    }
}

@media (min-width: 1024px) {

    .nav__logo {
        width: 150px;
    }

    .nav {
        align-items: stretch;
        background-color: transparent;
    }

    .nav__list {
        display: flex;
        width: 70%;
    }

    .nav__item {
        display: flex;
        align-items: center;
        position: relative;
        flex: 5;
        transition: .5s;
    }

    .nav__item.active {
        background-image: linear-gradient(rgba(255, 255, 255, .3),
            rgba(255, 255, 255, 0) 80%);
    }

    .nav__item--social {
        flex: 2;
    }

    .nav__link {
        width: 100%;
        font-size: .9rem;
    }

    .nav__burger,
    .nav__item--deco {
        display: none;
    }
}

/* ------------------------------- */
/* HEADER */
/* ------------------------------- */

.header {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0) 50%), url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    text-align: center;
}

.main-title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 1.8rem;
    color: white;
    letter-spacing: 1.5px;
    line-height: 140%;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px rgb(29, 29, 29);
}

.header__deco {
    display: block;
    width: 60%;
    max-width: 200px;
    margin-bottom: 30px;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid black;
    cursor: pointer;
    padding: 18px 40px;
    margin-bottom: 15px;
    transition: .3s;
}

.btn--second {
    color: white;
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid white;
}

.btn:hover,
.btn:active {
    color: white;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

@media (min-width:530px) {

    .header__wrapper {
        top: 60%;
    }

    .main-title {
        margin-bottom: 10px;
    }

    .header__buttons {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }
}

@media (min-width: 768px) {

    .header__wrapper {
        top: 50%;
    }

    .main-title {
        margin-bottom: 40px;
    }

    .header__buttons {
        width: 90%;
        margin-top: 40px;
    }

    .btn {
        width: 30%;
        font-size: .8rem;
        padding: 18px 20px;
    }
}

@media (min-width: 1024px) {
    .main-title {
        font-size: 3rem;
    }

    .header__buttons {
        width: 50%;
        margin-top: 0;
    }

    .btn {
        width: 40%;
        font-size: .8rem;
        padding: 18px;
    }
}

/* ------------------------------- */
/* ABOUT */
/* ------------------------------- */

.about {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.secondary-title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 1.7rem;
    color: #cc9900;
    letter-spacing: 1px;
    text-align: center;
}

.about__photo {
    margin-top: 30px;
    transform: translateX(20%);
}

.about__plate {
    display: none;
}

@media (min-width: 1024px) {

    .about {
        justify-content: center;
        align-items: center;
    }

    .about__box {
        width: 30%;
        margin-right: 60px;
    }

    .about__plate {
        width: 40%;
        display: block;
    }

    .about__img {
        width: 100%;
    }

    .about__photo {
        margin-top: 50px;
    }
}

/* ------------------------------- */
/* INGREDIENTS */
/* ------------------------------- */

.ingredients {
    display: flex;
    justify-content: center;
    background-image: url(../img/ingredients-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
}

.ingredients__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 25px;
}

.secondary-title--ing {
    color: white;
}

.ingredients__text {
    color: #fff;
}

.ingredents__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.ingredients__item {
    width: 30%;
}

.ingredients__img {
    width: 100%;
    max-width: 110px;
}

@media (min-width: 1024px) {

    .ingredients {
        justify-content: flex-end;
    }

    .ingredients__box {
        width: 40%;
        padding: 70px;
        margin-right: 100px;
    }

    .ingredients__text {
        font-size: .8rem;
    }
}

/* ------------------------------- */
/* MENU */
/* ------------------------------- */

.menu {
    background-image: url(../img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0 1.4rem;
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.menu__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-bottom: 35px;
}

.menu__dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 5px;
}

.menu__dish--special {
    border: 1px solid rgba(204, 153, 0, .4)
}

.menu__dish--special::before {
    display: block;
    position: absolute;
    top: -20px;
    right: -1px;
    height: 15px;
    content: "Special";
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    background-color: rgba(204, 153, 0, .6);
    padding: 2px 10px;
}

.third-title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 1rem;
    color: #cc9900;
    letter-spacing: 1.5px;
}

.dish__price {
    font-family: 'Yeseva One', sans-serif;
    font-size: 1.1rem;
    color: #cc9900;
    letter-spacing: 1.5px;
}

.dish__info {
    width: 100%;
}

.dish__info::before {
    content: "";
    display: block;
    width: 100%;
    height: .9px;
    background-color: rgba(204, 153, 0, .4);
    margin: 5px 0;
}

@media (min-width: 1024px) {
    .menu__wrapper {
        flex-wrap: wrap;
        width: 80%;
        max-height: 1000px;
    }

    .menu__box {
        width: 40%;
        margin-bottom: 50px;
    }
}


/* ------------------------------- */
/* REVIEWS */
/* ------------------------------- */

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/revievs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
}

.review__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    padding: 30px;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.review__text {
    position: relative;
    width: 90%;
    height: 100%;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1rem;
    color: #dde0df;
    line-height: 140%;
    margin: 0 auto;
    animation: reviews 15s infinite;
}

.review__text:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 130%;
}

.review__text:nth-of-type(3) {
    position: absolute;
    top: 0;
    left: 260%;
}

@keyframes reviews {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-135%);
    }

    53% {
        transform: translateX(-135%);
    }

    66% {
        transform: translateX(-280%);
    }

    95% {
        transform: translateX(-280%);
    }
}


.review__text::before {
    display: block;
    content: "\201C";
    font-size: 40px;
    color: #dde0df;
    position: absolute;
    top: 5px;
    left: -20px;
}

.review__author {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    color: white;
    line-height: 145%;
    margin-top: 20px;
}


@media (min-width: 1024px) {
    .review__box {
        width: 50%;
    }
}

/* ------------------------------- */
/* CONTACT */
/* ------------------------------- */

.contact {
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem 10%;
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__images {
    display: none;
}

.contact__text {
    text-align: center;
}

.contact__form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input__wrapper {
    margin: 8px 0;
}

.contact__label {
    display: block;
    font-family: 'Lato', sans-serif;
    color: #cc9900;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.contact__field {
    width: 100%;
    height: 35px;
    padding: 5px;
    color: gray;
    border: 1px solid gray;
    outline-color: #cc9900;
    font-style: italic;
}

.contact__field:focus {
    border-color: #cc9900;
}

.btn__wrapper {
    width: 100%;
    margin-top: 35px;
}

.contact__btn {
    display: block;
    width: 100%;
    color: white;
    background-color: #cc9900;
    border: none;
    font-size: .9rem;
    padding: 12px;
    cursor: pointer;
    transition: .5s;
}

.contact__btn:hover,
.contact__btn:active {
    background-color: #a07800;
}


@media (min-width: 1024px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact__text {
        width: 80%;
    }

    .contact__images {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 45%;
        margin-right: 40px;
    }

    .contact__img {
        width: 48%;
    }

    .contact__wrapper {
        width: 50%;
    }

    .contact__form {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .input__wrapper {
        width: 46%;
    }

    .contact__btn {
        width: 60%;
        margin: 0 auto;
    }
}

/* ------------------------------- */
/* CONTACT */
/* ------------------------------- */

.footer {
    background-color: #191919;
    padding: 4rem 0 2.5rem;
}

.footer__wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}

.footer__box {
    margin-bottom: 50px;
}

.third-title--footer {
    color: #e9e9e9;
}

.text--footer {
    color: #e9e9e9;
}

.bold {
    font-weight: 700;
}

.footer__socials {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 35px auto 0;
}

.footer__social {
    color: #e9e9e9;
    font-size: 1.2rem;
    cursor: pointer;
}

.footer__social:hover,
.footer__social:active {
    color: #cc9900;
}

@media (min-width: 1024px) {
    .footer__wrapper {
        flex-direction: row;
        align-items: baseline;
    }

    .footer__box {
        width: 33.33%;
        padding: 10px;
    }

    .footer__socials {
        width: 50%;
    }
}